  @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Poppins&family=Red+Hat+Display&family=Space+Mono&display=swap');

  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }

  :root {
      --Strong-cyan: hsl(172, 67%, 45%);
      --Very-dark-cyan: hsl(183, 100%, 15%);
      --Dark-grayish-cyan: hsl(186, 14%, 43%);
      --Grayish-cyan: hsl(184, 14%, 56%);
      --Light-grayish-cyan: hsl(185, 41%, 84%);
      --Very-light-grayish-cyan: hsl(189, 41%, 97%);
      --White: hsl(0, 0%, 100%);

  }

  body {
      font-family: 'Space Mono';
      background-color: var(--Light-grayish-cyan);
  }

  .container {
      /* padding: 15px; */
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }

  .work-area {
      padding: 30px;
      background-color: white;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 40px;
      border-radius: 20px;
      padding: 10px;

  }

  .left-side {
      display: flex;
      flex-direction: column;
      gap: 30px;
      padding: 20px;

  }

  label {
      display: block;
      font-size: 14px;
      color: var(--Dark-grayish-cyan);
      font-weight: 700;
      margin-bottom: 5px;
  }

  .input-field-container {
      display: flex;
      font-family: 'space mono';
      justify-content: center;
      align-items: center;
      color: var(--Very-dark-cyan);
      width: 100%;
      background-color: var(--Very-light-grayish-cyan);
      border-radius: 2px;
      padding-left: 10px;
      font-size: 24px;
  }

  .input-field {
      outline: none;
      width: 90%;
      font-weight: 700;
      font-family: 'space mono';
      border: none;
      color: var(--Very-dark-cyan);
      background-color: var(--Very-light-grayish-cyan);
      border-radius: 2px;
      font-size: 24px;
      text-align: right;
  }

  .input-field-container:hover {
      outline: 2px solid hsl(172, 67%, 45%);
  }

  .btn {
      outline: none;
      border: none;
      font-family: 'space mono';
      padding: 10px;
      background-color: var(--Very-dark-cyan);
      color: white;
      font-weight: 700;
      text-align: center;
      border-radius: 5px;
      font-size: 1.2rem;
      letter-spacing: .1rem;
  }

  .btn:hover {
      cursor: pointer;
      background-color: hsl(172, 74%, 76%);
      ;
      color: var(--Very-dark-cyan);
  }


  .tip-grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
      gap: 10px;

  }

  .custom {
      text-align: right;
      background-color: var(--Very-light-grayish-cyan);
      color: var(--Very-dark-cyan);
      direction: ltr;
  }

  .custom:hover {
      background-color: var(--Very-light-grayish-cyan);
      cursor: pointer;
      outline: 2px solid hsl(172, 67%, 45%);

  }

  .custom::placeholder {
      text-align: center;
  }

  .right-side {
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding: 3rem;
      color: white;
      background-color: var(--Very-dark-cyan);
  }

  .tip-amount-container,
  .total-amount-container {
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .tip-amount {
      display: flex;
      flex-direction: column;


  }

  .right-side-amount {
      font-size: .8em;
      font-weight: 700;
  }

  .person {
      color: var(--Very-light-grayish-cyan);
      font-size: .6em;
  }

  .display {
      margin-left: auto;
      font-size: 2.4em;
      color: var(--Strong-cyan);
      font-weight: 900;
  }

  .reset {
      background-color: hsl(183, 96%, 18%);
      color: hsl(183, 92%, 25%);
      margin-top: auto;
  }

  @media (max-width:375px) {
      .container {
          position: relative;
      }

      .work-area {
          position: absolute;
          bottom: 4%;
          display: flex;
          flex-direction: column;
      }

  }

  @media (max-width:700px) {
      .container {
          position: relative;
      }

      .work-area {
          position: absolute;
          bottom: 4%;
          display: flex;
          flex-direction: column;
      }
  }